.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: "Landing Font";
  src: url("./SF\ Slapstick\ Comic\ Bold\ Oblique.ttf")
}

@font-face {
  font-family: "Landing Description";
  src: url("./Smile\ Candy.ttf")
}